.form-box {
  margin: 3%;
  border-radius: 0.6rem;
  width: 56%;
  background-color: white;
  padding: 2rem 3rem;
  position: absolute;
  right: 19%;
}

.back {
  width: 8%;
  position: absolute;
  left: 7%;
  top: 44%;
  cursor: pointer;
}

.next {
  width: 8%;
  position: absolute;
  right: 7%;
  top: 44%;
  cursor: pointer;
}

.form-button {
  border: none;
  background-color: transparent;
}