.form-label {
  color: #1d3557;
  font-size: 0.9rem;
  margin-left: 1rem;
  font-family: 'Grandstander', cursive;
}

#form-input {
  margin-bottom: 0;
  color: #1d3557;
  background-color: #eff0f1;
  border-radius: 1.2rem;
  border: none;
  font-family: 'Dosis', sans-serif;
  height: 2.2rem;
  font-size: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

.form-error {
  margin-bottom: 1rem;
  color: #F44336;
  margin-left: 1rem;
  font-size: 0.8rem;
  font-family: 'Grandstander', cursive;
}